# same dependencies as in pyproject.toml, for use without installing the package
surmise==1.0.0
pocomc==1.2.6
hetgpy==1.0.4

# versions that work for us, maybe also versions lower than that work, but we have not tested them
emcee>=3.1.4
numpy>=2.0
scipy>=1.14
dill>=0.3.8
scikit-learn>=1.4.0
multiprocess>=0.70.16
jax>=0.10.2
optax>=0.2.4

# for running the tests in tests/ (optional)
pytest>=8.3.4

# for the notebooks in examples/ (optional)
matplotlib>=3.8
jupyter

# for the design.py script (optional) you have to install R and the 'MaxPro' package
# (method='maxpro', default) or the 'lhs' package (method='maximin') in R

